.cardWrapper {
  border-radius: 0.5em;
  overflow: hidden;
}

.cardContainer {
  text-decoration: none;
  color: black;

  &:hover .restaurantName {
    text-decoration: underline;
  }

  .restaurantImage {
    height: 10em;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .infoContainer {
    background-color: #f2f2f2;
    padding: 1em;
  }

  .restaurantName {
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: black;
  }
}
