@use '../../../mixins' as *;

.pageContainer {
  @include flex-display(column, flex-start, flex-start);

  padding: 2em;

  .headerContainer {
    @include flex-display(row, flex-start, flex-start);

    width: 100%;
    gap: 3em;
    margin-bottom: 2em;

    .restaurantImage {
      max-width: 35vw;
    }

    .detailsContainer {
      width: 100%;
    }
  }

  .menuContainer {
    @include flex-display(row, flex-start, flex-start);

    width: 100%;
    border-top: var(--bs-border);

    h2 {
      margin-bottom: 1em;
    }

    .sidebar {
      @include flex-display(column, flex-start, flex-start);

      position: sticky;
      top: var(--nav-height);
      width: 15em;
      height: calc(100vh - var(--nav-height));
      border-right: var(--bs-border);
      padding: 1em;
      gap: 0.25em;

      .sidebarLink {
        padding: 0.5em 0.75em;
        width: 100%;
        border-radius: 0.25em;

        &:hover {
          color: black !important;
          background-color: var(--layer-01);
          cursor: pointer;
        }
      }
    }

    .items {
      @include flex-display(column, flex-start, flex-start);

      max-width: 60em;
      padding: 1em;
      padding-top: 2.5em;
      margin: 0 auto;
      gap: 4em;

      .itemsContainer {
        @include grid-display(1fr 1fr);

        flex-wrap: wrap;
        gap: 2em;
      }
    }
  }
}
