@use '../../../mixins' as *;
$dark-purple: #8e44ad;

.navWrapper {
  @include flex-display(row, space-between);

  position: sticky;
  top: 0;
  height: var(--nav-height);
  // border-bottom: var(--border-01);
  padding: 0 2em;
  //background-color: rgb(16, 16, 16);
  background-color: white;
  border-bottom: 1px solid gray;
  z-index: 100;

  .logoWrapper {
    margin-right: 2em;
    color: unset;
    text-decoration: none;
  }

  .desktopNavContainer {
    @include flex-display(row);

    width: fit-content;
    height: 100%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
      }
    }

    .navLink {
      margin-left: 1em;
      font-family: 'Poppins', sans-serif;
      a {
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #8e44ad;
        border-radius: 8px;
        transition: backgorund-color 0.3s ease;

        &:hover {
          background-color: #6c3483;
          transition: 0.1s ease-in-out;
        }
      }
    }
  }
}
