@use '../../../mixins' as *;

.container {
  position: sticky;
  top: var(--nav-height);
  width: 30%;
  min-width: 25em;
  height: calc(100vh - var(--nav-height));
  border-left: var(--bs-border);
  flex-shrink: 0;
  padding: 2em;
  overflow-y: auto;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 600;
  }

  .itemsContainer {
    @include flex-display(column);
    gap: 1em;
  }

  .itemContainer {
    width: 100%;
    text-decoration: none;
    border-radius: 0.25em;
    color: black;

    // padding: -1em;

    &:hover {
      background-color: var(--layer-01);
      outline: 5px solid var(--layer-01);
    }
  }
}
