@mixin flex-display(
  $direction,
  $justification: flex-start,
  $alignment: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justification;
  align-items: $alignment;
}

@mixin grid-display($template, $alignment: center) {
  display: grid;
  grid-template-columns: $template;
  align-items: $alignment;
}

@mixin tooltip-color($border-side, $color, $text-color) {
  $directions: top, right, bottom, left;

  @if index($directions, $border-side) {
    $index: index($directions, $border-side);
    $border-property: nth($directions, $index);

    :global .tooltip-arrow::before {
      border-#{$border-property}-color: $color;
    }
  }

  :global .tooltip-inner {
    background-color: $color;
    color: $text-color;
  }
}
